* {
  box-sizing: border-box;
  font-family: sans-serif; }

body {
  background: #fff; }

#canvas {
  background: #fff !important; }

canvas {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  margin: auto; }
